/* * {
  box-sizing: border-box;
} */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* @media screen and (min-width: 720px) {
  .body {
     font-size: 10px;
  }
} */
p {
  display: inline;
}
body {
  background-color: lightblue;
}
.body {
   font-size: 100px;
   background-color: lightblue;
}
.links {
  text-decoration-color: red;
}

.body {
  font-size: 2vw;
  /* background-color: #333; */
}
.navMenu {
  color: #fff;
  float: left;
  width: 15%;
  height: 100%;
  border: 5px solid black;
}
.navText {
  color: rgb(126,231,135);
}
.header, .subBody {
  border: 5px solid black;
  float: left;
  width: 85%;
}
.subBody {
  text-align: center;
}
.header-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.links {
  background: lightgrey;
  border-radius: 7px;
  text-align: center;
  margin-top: 7px;
  margin-left: 2vw;
  margin-right: 2vw;
}
.links > a {
  color: #FFF;
}

.flex-container {
  border: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.folder {
  border: 3px solid black;
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
}
.paragraphs {
  width: 15%;
}
.paragraphs > div {
  color: #fff;
  border: 2px solid black;
}

@media only screen and (min-width: 1500px) {
  .body {
    background-color: rgb(13, 17, 23);
  }
}
@keyframes hi {
    from {color: gold;}
    to {color: white;}
}
.rar:hover {
	-webkit-animation: sup;
	-o-animation: sup;
	animation: sup;
	animation-duration: 2s;
}
@keyframes slide {
	from { left: -10px; }
	to { left: 10px; }
}
@keyframes sup {
	from {background-color: black; color: white; display: absolute; display: block;
		 height: 200px;  margin: 0 auto; text-align: center; width: 200px;}

	to {background-color: white; display: absolute; color: black; right: 100px;
		width: 100px; height: 100px; display: none;
		 margin: 0 auto; text-align: center; transform: rotate(180deg); }
}
{
	font-family: 'Bungee', 'Times', serif;
}



/* csslint ignore:end */
